.dashboard-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #fce4e4;
    font-family: 'Arial', sans-serif;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: #ffffff;
    border-bottom: 2px solid #ddd;
}

.header-item {
    cursor: pointer;
    padding: 10px 200px;
    color: #000;
    font-weight: bold;
    transition: background-color 0.3s;
    background-color: #f8d7da;
}

.header-item:hover {
    background-color: #f8d7da;
    color: #c82333;
}

.logout-button-header {
    background-color: #f67280;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.logout-button-header:hover {
    background-color: #c82333;
}

.dashboard-main {
    flex: 1;
    padding: 30px;
    text-align: center;
    color: #333;
}

.form-button {
    background-color: #f8a5a5;
    color: #fff;
    border: none;
    padding: 12px 25px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s;
}

.form-button:hover {
    background-color: #f67280;
}

.google-form-container {
    margin-top: 20px;
}

.dashboard-footer {
    padding: 10px;
    background: #ffffff;
    border-top: 2px solid #ddd;
    text-align: center;
    font-size: 14px;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 1s ease-out;
}

@media (max-width: 768px) {
    .header-item {
        padding: 10px 10px;
    }

    .logout-button-header {
        padding: 8px 15px;
        font-size: 12px;
    }

    .dashboard-main {
        padding: 15px;
    }

    .form-button {
        padding: 10px 20px;
        font-size: 13px;
    }
}

@media (max-width: 480px) {
    .header-item {
        padding: 10px 10px;
        font-size: 14px;
    }

    .logout-button-header {
        padding: 8px 10px;
        font-size: 12px;
    }

    .dashboard-main {
        padding: 15px;
    }

    .form-button {
        padding: 8px 15px;
        font-size: 14px;
    }
}

@media (max-width: 412px) {
    .header-item {
        padding: 10px 10px;
        font-size: 14px;
    }

    .logout-button-header {
        padding: 8px 10px;
        font-size: 12px;
    }

    .dashboard-main {
        padding: 15px;
    }

    .form-button {
        padding: 8px 15px;
        font-size: 14px;
    }
}

@media (max-width: 375px) {
    .header-item {
        padding: 5px 5px;
        font-size: 12px;
    }
    .logout-button-header {
        padding: 8px 10px;
        font-size: 12px;
    }

    .dashboard-main {
        padding: 10px;
    }

    .form-button {
        padding: 8px 15px;
        font-size: 12px;
    }
}
.google-form-container {
    position: relative;
    padding-top: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin-top: 20px;
}

.google-form-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}


@media (max-width: 375px) {
    .google-form-container {
        padding-top: 80%;
   
    }

    .google-form-container iframe {
        height: 100px;
        
    }
}

@media (max-width: 415px) {
    .google-form-container {
        padding-top: 150%;
       
    }

    .google-form-container iframe {
        height: 10000px;
        
    }
}

@media (max-width: 430px) {
    .google-form-container {
        padding-top: 150%;
    
    }

    .google-form-container iframe {
        height: 10000px;
       
    }
}

@media (max-width: 768px) {
    .google-form-container {
        padding-top: 424%;
        
    }

    .google-form-container iframe {
        height: 820px;
       
    }
}