.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #FFE4E1;
    padding: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}

.login-form label {
    margin-bottom: 5px;
    font-size: 16px;
    color: black;
}

.login-form input {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.login-form button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #8d0404;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.login-form button:hover {
    background-color: #e67b71;
}

.google-signin {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #e67b71;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
}

.google-signin:hover {
    background-color: #c6867b;
}

.auth-options {
    margin-top: 20px;
    text-align: center;
}

.auth-options a {
    color: #8B0000;
    text-decoration: none;
    font-size: 16px;
}

/* Auth option links hover effect */
.auth-options a:hover {
    text-decoration: underline;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}

.header {
    font-size: 24px;
    margin-bottom: 20px;
    color: #8B0000;
}